body {
    background-color: black;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.post {
    overflow: hidden;
    max-width: 500px;
    max-height: 800px;
    margin: 0px auto;
}

.post-header {
    padding: 12px 16px;
    display: flex;
    gap: 12px;
    background-color: white;
}

.post-header-2 {
    font-size: 14px;
    margin-top: 2px;
    color: black;
}

.post-img-2 {
    width: 500px;
    aspect-ratio: 5/4;
    object-fit: cover;
    overflow: hidden;
}

.post-img {
  line-height: 0;
}

.post-body {
    padding: 12px 16px;
    background-color: white;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.post-icons i {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888;
}

.post-body p {
    margin: 0;
    line-height: 1.5;
    background-color: ;
}

.post-header-1 {
    font-size: 30px;
}
.post-header-3 {
    margin-left: auto;
    font-size: 30px;
}

.post-icons-left i {
    margin-right: 8px;
    font-size: 30px;
    color:black
}

.post-icons-right i {
    font-size: 30px;
    color:black
}

.final-text {
    color: black;
    margin-top: 8px;
    text-align: left;
}